<div class="main">
  <div class="page">
    <form class="add-form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="text">Titre</label>
        <textarea
          class="form-input"
          type="text"
          name="title"
          [(ngModel)]="title"
          id="title"
          cols="50"
          rows="10"
        ></textarea>
      </div>

      <div class="form-control">
        <label for="text">Extrait</label>
        <textarea
          type="text"
          name="text"
          [(ngModel)]="extrait"
          id="extrait"
          cols="50"
          rows="10"
        ></textarea>
      </div>

      <input type="submit" value="Modifier l'article" class="button" />
    </form>
  </div>
</div>

<div *ngIf="status == 'success'" class="success">
  <p>Votre article a été bien modifié</p>
  <a routerLink="/detail/{{ id }}" class="link link-datail">Voir les détail</a>
</div>
<div *ngIf="status == 'error'" class="error">
  <p>{{ error }}</p>
</div>
<div class="to-article">
  <a routerLink="/">Voir la liste des articles</a>
</div>
