<!-- <app-update-article
  (onUpdateArticle)="updateArticle($event)"
></app-update-article> -->
<div class="page" *ngIf="status">
  <header><h1>Mes articles</h1></header>
  <section>
    <app-article-item *ngFor="let article of articles" [article]="article">
    </app-article-item>
  </section>

  <div class="footer">
    <div class="previous">
      <button
        *ngIf="previous != 0"
        (click)="getPreviousArticles()"
        class="button"
      >
        Précédent
      </button>
    </div>
    <div class="previous">
      <button (click)="getNextArticles()" class="button">Suivant</button>
    </div>
  </div>
</div>
<div class="error" *ngIf="!status">
  {{ error }}
</div>
